In [2]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder\
    .appName('Cleaned_Customer_Date')\
        .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/20 13:20:20 WARN Utils: Your hostname, GUNAs-MacBook-Air.local, resolves to a loopback address: 127.0.0.1; using 10.0.0.190 instead (on interface en0)
25/08/20 13:20:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/20 13:20:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
#Loading the Data from csv file
df = spark.read.option("header",True).csv("us_customer_data 2.csv")

In [11]:
df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- loyalty_status: string (nullable = true)

In [14]:
df.head(2)

[Row(customer_id='1', name='Michelle Kidd', email='vayala@example.net', phone=None, address='USNS Santiago, FPO AE 80872', registration_date='2025-01-25', loyalty_status='Gold'),
 Row(customer_id='2', name='Brad Newton', email='taylorcatherine@example.net', phone='(759)518-8536x738', address='38783 Oliver Street, West Kristenborough, MT 99752', registration_date='2023-07-13', loyalty_status='Silver')]

In [16]:
df.show(truncate = False)

+-----------+---------------------+---------------------------+----------------------+--------------------------------------------------------+-----------------+--------------+
|customer_id|name                 |email                      |phone                 |address                                                 |registration_date|loyalty_status|
+-----------+---------------------+---------------------------+----------------------+--------------------------------------------------------+-----------------+--------------+
|1          |Michelle Kidd        |vayala@example.net         |NULL                  |USNS Santiago, FPO AE 80872                             |2025-01-25       |Gold          |
|2          |Brad Newton          |taylorcatherine@example.net|(759)518-8536x738     |38783 Oliver Street, West Kristenborough, MT 99752      |2023-07-13       |Silver        |
|3          |Larry Torres         |dsanchez@example.net       |001-323-525-3094x96062|6845 Steele Turnpike, West Erikabury, UT 37487          |2023-08-18       |Bronze        |
|4          |Kimberly Price       |jessicaknight@example.com  |001-947-633-4224x07930|1631 Alexis Meadows, Lake Amanda, CA 75179              |2024-12-08       |Gold          |
|5          |Matthew Phillips     |qwilliams@example.com      |001-869-650-5682x8385 |2274 Williams Heights Suite 895, Andersonhaven, OR 80565|2024-02-03       |Gold          |
|6          |Darrell Gallagher DVM|larryharris@example.org    |+1-971-475-6369x8486  |19887 Brandon Bridge, New Rebecca, MA 94947             |2025-03-03       |Bronze        |
|7          |Louis Miller         |patriciaelliott@example.org|001-418-931-4146x588  |02590 Marshall Well, Sheppardland, CT 88067             |2024-09-30       |Gold          |
|8          |Melissa Galloway MD  |watsonbenjamin@example.net |+1-593-948-3872       |209 Steven Oval Apt. 022, Mollyhaven, NC 10211          |2023-10-06       |Bronze        |
|9          |Matthew Harvey       |bgaines@example.net        |(710)854-4550         |60123 Davis Ford, Mistychester, WA 69400                |2024-10-31       |Silver        |
|10         |Rachel White         |whitemichael@example.org   |001-920-793-4515x302  |6182 Brown Mountain, South Gary, IL 29016               |2024-02-25       |Bronze        |
|11         |Nicole Yang          |archerheather@example.org  |001-385-627-5676x7067 |923 Emily Mills Apt. 281, Port Roy, WI 03921            |2025-03-08       |Bronze        |
|12         |Christine Delgado    |yfarrell@example.net       |932.206.7195x8325     |PSC 4025, Box 2078, APO AA 61121                        |2024-04-18       |Bronze        |
|13         |Joseph Brennan       |khernandez@example.com     |549-356-4430          |8890 Keller Hills, North Paul, FM 64749                 |2024-04-28       |Gold          |
|14         |Eric Thomas          |spencer75@example.com      |001-353-817-6492x04270|352 Joel Extension Suite 962, New Anthony, CO 33299     |2024-05-09       |Bronze        |
|15         |Laura Perez          |sdavid@example.com         |511.900.2681x4189     |1518 Green Locks Suite 348, New Brent, FM 51849         |2024-12-04       |Gold          |
|16         |Erin Matthews        |uhunter@example.net        |889-275-9024x61618    |67623 Morgan Hollow, Hillshire, IL 78665                |2023-11-12       |Bronze        |
|17         |Melissa Alvarado     |parkjohn@example.net       |+1-345-478-5691x220   |USNS Austin, FPO AP 52643                               |2024-06-24       |Gold          |
|18         |Mr. Ernest Dunn      |kelseybrown@example.net    |6209840256            |3112 Lydia Freeway Suite 927, South Susan, RI 11726     |2025-01-27       |Gold          |
|19         |David Johnson        |marynelson@example.org     |+1-847-920-4578x754   |992 Harris Pines Suite 049, North Marychester, PW 73177 |2025-02-21       |Silver        |
|20         |Wayne Morales        |qwilliams@example.com      |956-836-0130          |15344 Hill Pike, Matthewport, FL 45434                  |2025-02-22       |Gold          |
+-----------+---------------------+---------------------------+----------------------+--------------------------------------------------------+-----------------+--------------+
only showing top 20 rows

In [17]:
df.show(5)

+-----------+----------------+--------------------+--------------------+--------------------+-----------------+--------------+
|customer_id|            name|               email|               phone|             address|registration_date|loyalty_status|
+-----------+----------------+--------------------+--------------------+--------------------+-----------------+--------------+
|          1|   Michelle Kidd|  vayala@example.net|                NULL|USNS Santiago, FP...|       2025-01-25|          Gold|
|          2|     Brad Newton|taylorcatherine@e...|   (759)518-8536x738|38783 Oliver Stre...|       2023-07-13|        Silver|
|          3|    Larry Torres|dsanchez@example.net|001-323-525-3094x...|6845 Steele Turnp...|       2023-08-18|        Bronze|
|          4|  Kimberly Price|jessicaknight@exa...|001-947-633-4224x...|1631 Alexis Meado...|       2024-12-08|          Gold|
|          5|Matthew Phillips|qwilliams@example...|001-869-650-5682x...|2274 Williams Hei...|       2024-02-03|          Gold|
+-----------+----------------+--------------------+--------------------+--------------------+-----------------+--------------+
only showing top 5 rows

In [19]:
df.show(5,truncate=False)

+-----------+----------------+---------------------------+----------------------+--------------------------------------------------------+-----------------+--------------+
|customer_id|name            |email                      |phone                 |address                                                 |registration_date|loyalty_status|
+-----------+----------------+---------------------------+----------------------+--------------------------------------------------------+-----------------+--------------+
|1          |Michelle Kidd   |vayala@example.net         |NULL                  |USNS Santiago, FPO AE 80872                             |2025-01-25       |Gold          |
|2          |Brad Newton     |taylorcatherine@example.net|(759)518-8536x738     |38783 Oliver Street, West Kristenborough, MT 99752      |2023-07-13       |Silver        |
|3          |Larry Torres    |dsanchez@example.net       |001-323-525-3094x96062|6845 Steele Turnpike, West Erikabury, UT 37487          |2023-08-18       |Bronze        |
|4          |Kimberly Price  |jessicaknight@example.com  |001-947-633-4224x07930|1631 Alexis Meadows, Lake Amanda, CA 75179              |2024-12-08       |Gold          |
|5          |Matthew Phillips|qwilliams@example.com      |001-869-650-5682x8385 |2274 Williams Heights Suite 895, Andersonhaven, OR 80565|2024-02-03       |Gold          |
+-----------+----------------+---------------------------+----------------------+--------------------------------------------------------+-----------------+--------------+
only showing top 5 rows

In [26]:
rows = df.count()
rows

1000

In [27]:
distinct_rows = df.distinct().count()

In [28]:
distinct_rows

1000

In [29]:
#From the above we can see that there are no duplicates in the data but for the safety we can drop the duplicate=s from the data
# Step 1: Deduplicate
df = df.dropDuplicates(["customer_id"])

In [30]:
df.count()

1000

In [33]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [34]:
#The format of the phone number is incorrect so we need to replace those characters or un necessary values with empty
# Step 2: Clean phone numbers
df = df.withColumn("clean_phone", regexp_replace("phone", r"x\d+", "")) \
       .withColumn("clean_phone", regexp_replace("clean_phone", r"\D", "")) \
       .withColumn("valid_phone", when(length("clean_phone") >= 10, col("clean_phone")).otherwise(lit(None)))

In [42]:
df_selected = df.select("customer_id", "name", "email","clean_phone","valid_phone")
df_selected.show()

+-----------+----------------+--------------------+-------------+-------------+
|customer_id|            name|               email|  clean_phone|  valid_phone|
+-----------+----------------+--------------------+-------------+-------------+
|          1|   Michelle Kidd|  vayala@example.net|         NULL|         NULL|
|         10|    Rachel White|whitemichael@exam...|0019207934515|0019207934515|
|        100|     Aaron Irwin|  wdavis@example.org|  13235518227|  13235518227|
|       1000|     Jason Walls|michael42@example...|   5773048260|   5773048260|
|        101|      Amy Graham|nicolehorton@exam...|   8417222216|   8417222216|
|        102|      Larry Hill|garrettrebecca@ex...|  14517023092|  14517023092|
|        103|    Lindsey Ruiz|  yortiz@example.net|   8463062446|   8463062446|
|        104|  Jacob Williams|                NULL|   4372542080|   4372542080|
|        105|    Lisa Esparza| ygibson@example.org|   4925831364|   4925831364|
|        106| Edward Williams| gjordan@example.com|   5093263595|   5093263595|
|        107|  Robert Mercado|edward39@example.net|   3065699705|   3065699705|
|        108|  Derrick Reeves|  john24@example.net|0018786788236|0018786788236|
|        109|   Ana Singleton|butlerkrystal@exa...|   9878653798|   9878653798|
|         11|     Nicole Yang|archerheather@exa...|0013856275676|0013856275676|
|        110| Patricia Cooper|  jose29@example.org|   4053108673|   4053108673|
|        111|     David Jones|   asoto@example.com|0013638324453|0013638324453|
|        112|   Mary Mccarthy|wongjacqueline@ex...|   8417573574|   8417573574|
|        113|    Trevor Brown| kevin61@example.net|   7562704520|   7562704520|
|        114| Donald Anderson|adrian29@example.net|   9883665946|   9883665946|
|        115|Elizabeth Adkins|rodriguezmatthew@...|0017855857339|0017855857339|
+-----------+----------------+--------------------+-------------+-------------+
only showing top 20 rows

In [53]:
#In the above we can see the registration_date column is a string so now we can cast it to date type
df= df.withColumn("registration_date",col("registration_date").cast(DateType()))

In [54]:
df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- loyalty_status: string (nullable = true)
 |-- clean_phone: string (nullable = true)
 |-- valid_phone: string (nullable = true)

In [55]:
#In the dataset we can see for the string columns for name,email,adress,and some columns has the spaces at the start and at the end 
#so we can trim them now

df = df.withColumn("name", trim(col("name"))) \
       .withColumn("email", trim(lower(col("email")))) \
       .withColumn("address", trim(col("address"))) \
       .withColumn("loyalty_status", trim(col("loyalty_status")))

In [56]:
#The updated dataset is 
df = df.select("customer_id","name","email","valid_phone","address","registration_date","loyalty_status")

In [57]:
df.show()

+-----------+----------------+--------------------+-------------+--------------------+-----------------+--------------+
|customer_id|            name|               email|  valid_phone|             address|registration_date|loyalty_status|
+-----------+----------------+--------------------+-------------+--------------------+-----------------+--------------+
|          1|   Michelle Kidd|  vayala@example.net|         NULL|USNS Santiago, FP...|       2025-01-25|          Gold|
|         10|    Rachel White|whitemichael@exam...|0019207934515|6182 Brown Mounta...|       2024-02-25|        Bronze|
|        100|     Aaron Irwin|  wdavis@example.org|  13235518227|4938 Natalie Cove...|       2024-06-15|        Bronze|
|       1000|     Jason Walls|michael42@example...|   5773048260|95002 Bruce Rue, ...|       2024-12-10|        Bronze|
|        101|      Amy Graham|nicolehorton@exam...|   8417222216|236 Robert Mall, ...|       2024-02-25|        Bronze|
|        102|      Larry Hill|garrettrebecca@ex...|  14517023092|88672 Reyes Haven...|       2024-02-24|        Bronze|
|        103|    Lindsey Ruiz|  yortiz@example.net|   8463062446|72026 Lisa Villag...|       2025-03-10|        Bronze|
|        104|  Jacob Williams|                NULL|   4372542080|Unit 8694 Box 618...|       2024-07-10|        Silver|
|        105|    Lisa Esparza| ygibson@example.org|   4925831364|2544 Martinez Cir...|       2025-01-13|        Silver|
|        106| Edward Williams| gjordan@example.com|   5093263595|PSC 7243, Box 592...|       2024-04-18|        Bronze|
|        107|  Robert Mercado|edward39@example.net|   3065699705|80709 David Green...|       2023-11-21|          Gold|
|        108|  Derrick Reeves|  john24@example.net|0018786788236|6134 Henson Run, ...|       2023-09-04|          Gold|
|        109|   Ana Singleton|butlerkrystal@exa...|   9878653798|9241 Chung Route,...|       2024-03-31|        Silver|
|         11|     Nicole Yang|archerheather@exa...|0013856275676|923 Emily Mills A...|       2025-03-08|        Bronze|
|        110| Patricia Cooper|  jose29@example.org|   4053108673|USNS Marshall, FP...|       2024-06-10|        Silver|
|        111|     David Jones|   asoto@example.com|0013638324453|9445 Wells Mall, ...|       2023-10-11|        Silver|
|        112|   Mary Mccarthy|wongjacqueline@ex...|   8417573574|3169 Smith Isle A...|       2025-04-24|        Silver|
|        113|    Trevor Brown| kevin61@example.net|   7562704520|184 Cervantes Str...|       2024-05-27|        Silver|
|        114| Donald Anderson|adrian29@example.net|   9883665946|332 James Village...|       2023-12-11|        Bronze|
|        115|Elizabeth Adkins|rodriguezmatthew@...|0017855857339|7851 Ford Wells A...|       2025-03-08|        Bronze|
+-----------+----------------+--------------------+-------------+--------------------+-----------------+--------------+
only showing top 20 rows