3. Filtering high-value transactions from a CSV file for targeted promotions.
Tasks involved: Filtering, Cleaning
Filtering: Selecting only records that meet specific criteria â€” in this case, high-value transactions (e.g., transactions above $1000) or mean value.
Cleaning: Ensuring the transaction data is accurate and usable â€” removing rows with missing amounts, fixing number formats, etc.

ðŸŸ¢ Goal: Identify and use only the most valuable customers or transactions for special promotions, such as VIP discounts or exclusive offers.

In [90]:
#Getting the SparkSession

from pyspark.sql import SparkSession

In [91]:
#Buidling the spark app
spark = SparkSession.builder\
.appName("MostValuble_customers")\
.getOrCreate()

In [92]:
#Importing the first transactions file
df_transactions = spark.read.option("header",True).csv('transaction_data 1.csv')

In [93]:
#Checking the df_transactions data to check if there are any errors
df_transactions.printSchema()

root
 |-- transaction_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- store_location: string (nullable = true)

From the above transactions dataset these are things we need to change 
1. we can see that amount column in the string we should conver into integer to perform any fileters
2. transaction_date is in the date format we need to change it to date format
3. we need to delete any rows with zero amounts because we can't consider them in our analysis and we can save lot much of computation time

In [94]:
df_customers = spark.read.option("header",True).csv('us_customer_data 2.csv')

In [95]:
df_customers.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- loyalty_status: string (nullable = true)

In [96]:
#Cleaning the transactions tables
df_transactions.distinct().count()

1000

In [97]:
df_transactions.count()

1000

In [98]:
from pyspark.sql.functions import*

In [99]:
null_count = df_transactions.filter(col("amount").isNull()).count()

In [100]:
null_count

50

In [101]:
df_transactions.filter(col("amount").isNull()).show()

+--------------+-----------+------+-------------------+----------------+--------------+--------------+
|transaction_id|customer_id|amount|   transaction_date|product_category|payment_method|store_location|
+--------------+-----------+------+-------------------+----------------+--------------+--------------+
|             4|         19|  NULL|2025-04-30 15:26:23|          Sports|    Debit Card|   Los Angeles|
|            14|        579|  NULL|2025-04-16 20:54:47|            Home|          Cash|        Online|
|            24|        184|  NULL|2025-02-27 13:58:05|          Beauty|    Debit Card|   Los Angeles|
|            26|        744|  NULL|2025-04-23 02:38:39|          Beauty|        PayPal|      New York|
|            34|        838|  NULL|2025-01-30 22:27:45|        Clothing|          Cash|   Los Angeles|
|           104|        928|  NULL|2025-04-20 02:32:07|          Beauty|          Cash|      New York|
|           110|        632|  NULL|2025-02-17 13:45:29|          Sports|          Cash|      New York|
|           154|        184|  NULL|2025-04-01 12:35:51|          Beauty|    Debit Card|       Chicago|
|           218|        742|  NULL|2025-01-18 05:43:36|     Electronics|    Debit Card|   Los Angeles|
|           272|        234|  NULL|2025-01-16 19:10:19|        Clothing|        PayPal|       Chicago|
|           274|        905|  NULL|2025-01-28 06:11:04|          Beauty|        PayPal|       Chicago|
|           293|        393|  NULL|2025-01-11 14:05:56|        Clothing|          Cash|       Chicago|
|           299|        381|  NULL|2025-02-11 02:37:54|          Sports|   Credit Card|       Chicago|
|           301|         13|  NULL|2025-03-18 04:40:03|          Beauty|    Debit Card|       Chicago|
|           327|        796|  NULL|2025-01-06 15:05:08|     Electronics|        PayPal|   Los Angeles|
|           351|         90|  NULL|2025-04-21 01:00:10|        Clothing|   Credit Card|   Los Angeles|
|           353|        121|  NULL|2025-03-13 17:36:15|            Home|        PayPal|      New York|
|           358|        147|  NULL|2025-02-05 10:02:32|          Beauty|          Cash|   Los Angeles|
|           364|        980|  NULL|2025-01-30 11:32:51|            Home|          Cash|      New York|
|           397|        834|  NULL|2025-02-22 03:01:13|     Electronics|          Cash|      New York|
+--------------+-----------+------+-------------------+----------------+--------------+--------------+
only showing top 20 rows

In [102]:
#Considering not null amount rows
df_transations_clean = df_transactions.filter(col("amount").isNotNull())

In [103]:
df_transations_clean.count()

950

In [104]:
from pyspark.sql.types import*

In [105]:
#As we already what we did for the first csv file which is customers so doing the same process 
df_customers = df_customers.withColumn("clean_phone", regexp_replace("phone", r"x\d+", "")) \
       .withColumn("clean_phone", regexp_replace("clean_phone", r"\D", "")) \
       .withColumn("valid_phone", when(length("clean_phone") >= 10, col("clean_phone")).otherwise(lit(None)))

In [106]:
df_customers= df_customers.withColumn("registration_date",col("registration_date").cast(DateType()))

In [107]:
df_customers_clean = df_customers.select("customer_id","name","email","valid_phone","address","registration_date","loyalty_status")

In [108]:
df_customers_clean.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- valid_phone: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- loyalty_status: string (nullable = true)

In [109]:
df_transations_clean.printSchema()

root
 |-- transaction_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- store_location: string (nullable = true)

In [110]:
df_transations_clean = df_transations_clean.withColumn("amount", expr("try_cast(amount as double)"))

In [111]:
df_merge = df_customers_clean.join(df_transations_clean,on="customer_id",how="inner")

In [112]:
df_merge.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- valid_phone: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- loyalty_status: string (nullable = true)
 |-- transaction_id: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- store_location: string (nullable = true)

In [116]:
df_merge.count()

950

In [135]:
df_Filtered_Customer_1000 = df_merge.filter((col("amount").cast(IntegerType()))>1000)

In [141]:
df_Filtered_Customer_1000.show()

+-----------+-----------------+--------------------+-------------+--------------------+-----------------+--------------+--------------+-------+-------------------+----------------+--------------+--------------+
|customer_id|             name|               email|  valid_phone|             address|registration_date|loyalty_status|transaction_id| amount|   transaction_date|product_category|payment_method|store_location|
+-----------+-----------------+--------------------+-------------+--------------------+-----------------+--------------+--------------+-------+-------------------+----------------+--------------+--------------+
|          1|    Michelle Kidd|  vayala@example.net|         NULL|USNS Santiago, FP...|       2025-01-25|          Gold|             8|2652.57|2025-04-19 14:46:00|            Home|   Credit Card|      New York|
|          4|   Kimberly Price|jessicaknight@exa...|0019476334224|1631 Alexis Meado...|       2024-12-08|          Gold|           427|1787.09|2025-04-28 04:34:07|          Beauty|        PayPal|       Chicago|
|          5| Matthew Phillips|qwilliams@example...|0018696505682|2274 Williams Hei...|       2024-02-03|          Gold|           452|1983.52|2025-02-03 14:59:13|          Sports|        PayPal|        Online|
|          7|     Louis Miller|patriciaelliott@e...|0014189314146|02590 Marshall We...|       2024-09-30|          Gold|           470|3241.66|2025-05-15 15:17:05|     Electronics|        PayPal|   Los Angeles|
|         10|     Rachel White|whitemichael@exam...|0019207934515|6182 Brown Mounta...|       2024-02-25|        Bronze|           548|2954.52|2025-05-21 22:54:54|          Sports|    Debit Card|         Miami|
|         10|     Rachel White|whitemichael@exam...|0019207934515|6182 Brown Mounta...|       2024-02-25|        Bronze|           173|3456.05|2025-04-15 19:26:48|            Home|    Debit Card|        Online|
|         12|Christine Delgado|yfarrell@example.net|   9322067195|PSC 4025, Box 207...|       2024-04-18|        Bronze|           126|3696.64|2025-02-15 19:59:56|          Beauty|          Cash|        Online|
|         15|      Laura Perez|  sdavid@example.com|   5119002681|1518 Green Locks ...|       2024-12-04|          Gold|           504|3194.72|2025-06-01 14:13:06|          Beauty|    Debit Card|        Online|
|         17| Melissa Alvarado|parkjohn@example.net|  13454785691|USNS Austin, FPO ...|       2024-06-24|          Gold|           681|4752.12|2025-05-31 10:50:45|          Sports|          Cash|         Miami|
|         17| Melissa Alvarado|parkjohn@example.net|  13454785691|USNS Austin, FPO ...|       2024-06-24|          Gold|           374|2445.23|2025-02-18 22:07:41|            Home|   Credit Card|       Chicago|
|         18|  Mr. Ernest Dunn|kelseybrown@examp...|   6209840256|3112 Lydia Freewa...|       2025-01-27|          Gold|           570|2929.47|2025-03-18 13:34:29|          Beauty|   Credit Card|         Miami|
|         19|    David Johnson|marynelson@exampl...|  18479204578|992 Harris Pines ...|       2025-02-21|        Silver|           546|1600.94|2025-03-24 15:39:10|          Beauty|    Debit Card|        Online|
|         19|    David Johnson|marynelson@exampl...|  18479204578|992 Harris Pines ...|       2025-02-21|        Silver|            99|4361.19|2025-05-27 16:17:17|     Electronics|   Credit Card|       Chicago|
|         20|    Wayne Morales|qwilliams@example...|   9568360130|15344 Hill Pike, ...|       2025-02-22|          Gold|           874|3934.82|2025-05-04 10:16:59|          Sports|   Credit Card|        Online|
|         20|    Wayne Morales|qwilliams@example...|   9568360130|15344 Hill Pike, ...|       2025-02-22|          Gold|           291| 3402.3|2025-03-24 02:17:33|     Electronics|        PayPal|         Miami|
|         21|  Michael Vincent|jonesjeffrey@exam...|   7656844638|455 Moore Orchard...|       2024-06-13|        Silver|           176|4674.53|2025-02-25 15:55:18|        Clothing|   Credit Card|         Miami|
|         23|  Marisa Martinez|   zward@example.org|   3925177127|5029 Wall Mountai...|       2025-03-29|        Bronze|           442|1908.49|2025-04-21 01:10:46|          Beauty|    Debit Card|        Online|
|         24| Crystal Peterson|taylorcharles@exa...|   9642809583|Unit 5741 Box 112...|       2023-08-07|        Bronze|           717| 4292.9|2025-03-18 08:24:05|            Home|          Cash|   Los Angeles|
|         24| Crystal Peterson|taylorcharles@exa...|   9642809583|Unit 5741 Box 112...|       2023-08-07|        Bronze|           141|1164.89|2025-06-05 09:17:17|        Clothing|    Debit Card|       Chicago|
|         26|     James Graham|chawkins@example.net|   9698000025|2809 Young Square...|       2024-03-10|          Gold|           868|3378.58|2025-04-27 11:24:04|        Clothing|    Debit Card|   Los Angeles|
+-----------+-----------------+--------------------+-------------+--------------------+-----------------+--------------+--------------+-------+-------------------+----------------+--------------+--------------+
only showing top 20 rows